//- TODO: Display icon for the relevant stores and fix description to show proper formatting from the steam app details api
extends layout

block content
  .text-center
    if gameDeals.info
      img.mt-4(src=steamAppDetails.header_image, alt=gameDeals.info.title)
      h2= gameDeals.info.title
      
    if steamAppDetails 
      if steamAppDetails.short_description 
        .container
          p!= steamAppDetails.short_description
    if gameDeals.cheapestPriceEver
      p Cheapest Price Ever: $#{gameDeals.cheapestPriceEver.price} USD

    if gameDeals.deals && gameDeals.deals.length > 0
      h3.mb-3 Deals
      .row.justify-content-center
        each deal in gameDeals.deals
            .col-md-3
                .card.ms-4.mb-4.me-4.border
                    .card-body
                        img(src="https://www.cheapshark.com/img/stores/banners/" + (deal.storeID -1) + ".png")
                        p.card-text Price: $#{deal.price} USD
                        p.card-text Retail Price: $#{deal.retailPrice} USD
                        p.card-text Savings: #{((deal.retailPrice - deal.price) / deal.retailPrice * 100).toFixed(2)}%

    - var pcRequirementsExist = steamAppDetails.pc_requirements && (steamAppDetails.pc_requirements.minimum || steamAppDetails.pc_requirements.recommended);
    if platforms.windows && pcRequirementsExist
      h4 PC Requirements
      .requirements
        if steamAppDetails.pc_requirements.minimum
          span.card-text!= steamAppDetails.pc_requirements.minimum
        if steamAppDetails.pc_requirements.recommended
          span.card-text!= steamAppDetails.pc_requirements.recommended
      
    - var macRequirementsExist = steamAppDetails.mac_requirements && (steamAppDetails.mac_requirements.minimum || steamAppDetails.mac_requirements.recommended);
    if platforms.mac && macRequirementsExist
      h4 Mac Requirements 
      .requirements
        if steamAppDetails.mac_requirements.minimum
          span.card-text!= steamAppDetails.mac_requirements.minimum
        if steamAppDetails.mac_requirements.recommended
          span.card-text!= steamAppDetails.mac_requirements.recommended

    - var linuxRequirementsExist = steamAppDetails.linux_requirements && (steamAppDetails.linux_requirements.minimum || steamAppDetails.linux_requirements.recommended);
    if platforms.linux && linuxRequirementsExist
      h4 Linux Requirements 
      .requirements
        if steamAppDetails.linux_requirements.minimum
          span.card-text!= steamAppDetails.linux_requirements.minimum
        if steamAppDetails.linux_requirements.recommended
          span.card-text!= steamAppDetails.linux_requirements.recommended

    if youtubeReviews
      h3 Youtube Reviews
      .row.justify-content-center
        each review in youtubeReviews
          .col-md-3
            .card.mb-3.border.m-3
              .card-body 
                //- Embed YouTube video using an iframe with larger dimensions
                iframe.embed-responsive.embed-responsive-16by9(style='width: 100%; height: 300px;', src='https://www.youtube.com/embed/' + review.id.videoId, frameborder='0', allowfullscreen='true')
                h5.card-title.mt-2!= review.snippet.title
                p.card-text By #{review.snippet.channelTitle}
                p.card-text #{review.snippet.description}
                p.card-text Published: #{new Date(review.snippet.publishedAt).toLocaleDateString(undefined, { year: 'numeric', month: 'long', day: 'numeric' })}
                a.btn.btn-primary(href='https://www.youtube.com/watch?v=' + review.id.videoId, target='_blank') Watch Video