//- TODO: Display icon for the relevant stores and fix description to show proper formatting from the steam app details api
extends layout

block content
  .text-center
    h1.mt-4.mb-4= title
    if gameDeals.info
      img(src=gameDeals.info.thumb, alt=gameDeals.info.title)
      h2= gameDeals.info.title
      
    if steamAppDetails 
      if steamAppDetails.short_description 
        p!= steamAppDetails.short_description
    if gameDeals.cheapestPriceEver
      p Cheapest Price Ever: #{gameDeals.cheapestPriceEver.price}

    if gameDeals.deals && gameDeals.deals.length > 0
      h3 Deals
      .row.justify-content-center
        each deal in gameDeals.deals
            .col-md-3
                .card.mb-3
                    .card-body
                        h5.card-title Store ID: #{deal.storeID}
                        p.card-text Price: $#{deal.price} USD
                        p.card-text Retail Price: $#{deal.retailPrice} USD
                        p.card-text Savings: #{((deal.retailPrice - deal.price) / deal.retailPrice * 100).toFixed(2)}%

    if steamAppDetails.pc_requirements && steamAppDetails.pc_requirements.minimum
      h4 PC Requirements
      p.card-text!= steamAppDetails.pc_requirements.minimum
