extends layout

block content
  .text-center
    h1.mt-4.mb-4= title
  .row.mx-auto
    each game in games
      .col-md-2
        .card.mb-4
          img.card-img-top(src=game.capsule, alt=game.name, style=`max-height: 100%; object-fit: contain;`)
          .card-body
            h5.card-title= game.name
            p.card-text Overall Reviews: #{game.review_desc}
            p.card-text Release Date: #{game.release_string}
            a.btn.btn-primary(href=`/details/${encodeURIComponent(game.name)}`) Details
